streamlit

paddleocr==2.10.0
paddlepaddle==3.3.1

opencv-python-headless

python-dotenv
pydantic

langchain
langchain-core
langchain-google-genai
langgraph
langsmith

google-generativeai
langchain_tavily

requests
beautifulsoup4
