streamlit==1.61.1

opencv-python-headless==4.12.0.88
paddlepaddle==3.3.1

paddleocr==2.10.0 --no-deps
langchain_tavily
shapely
scikit-image
pyclipper
lmdb
tqdm
numpy
rapidfuzz
cython
Pillow
PyYAML
python-docx
beautifulsoup4
fonttools>=4.24.0
fire>=0.3.0
requests
albumentations
albucore

python-dotenv
pydantic

langchain
langchain-core
langchain-google-genai
langgraph
langsmith
google-generativeai
